m* {
  box-sizing: border-box;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-color: #2196f3;
}
body {
  font-family: "Cairo", sans-serif;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
}

/*start header style */
header {
}
header nav {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  position: relative;
}
@media (max-width: 768px) {
  header nav {
    flex-wrap: wrap;
  }
}
header nav > div:first-child {
  color: var(--main-color);
  font-size: 34px;
  font-weight: bold;
  padding: 10px;
}
@media (max-width: 768px) {
  header nav > div:first-child {
    width: 100%;
    text-align: center;
  }
}
header nav > ul {
  display: flex;
  list-style: none;
}
@media (max-width: 768px) {
  header nav > ul {
    margin: 10px auto;
    padding: 0;
  }
}
header nav > ul li {
  width: 90px;
  height: 100%;
}
header nav > ul > li > a {
  position: relative;
  text-decoration: none;
  color: black;
  display: block;
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  header nav > ul > li > a {
    padding: 10px 0px;
  }
}
header nav > ul > li > a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(238, 238, 238, 0.486);
  border-top: 3px solid var(--main-color);
  left: -100%;
  top: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
header nav > ul a:hover {
  color: var(--main-color);
}
header nav > ul > li > a:hover::after {
  left: 0;
  top: 0;
}

header nav > ul > li:last-child:hover .otherlink {
  display: flex;
}
header nav li .otherlink {
  position: absolute;
  width: 100%;
  left: 0;
  top: 60px;
  border-bottom: 2px solid var(--main-color);
  padding: 20px;
  display: none;
  background-color: white;
  z-index: 4;
}
@media (max-width: 768px) {
  header nav > ul > li:last-child:hover .otherlink {
    display: block;
    top: 117px;
    width: cal;
    left: -15px;
    width: calc(100% + 15px);
  }
  header nav > ul > li:last-child .otherlink img {
    display: none;
  }
}

header nav > ul > li:last-child .otherlink ul {
  width: 100%;
  padding-inline-start: 0px;
  margin-left: 10px;
}

header nav li .otherlink ul {
  list-style: none;
}
header nav li .otherlink .img {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav li .otherlink .img img {
  width: 320px;
}

header nav li .otherlink ul {
}
header nav li .otherlink ul li {
  font-weight: bold;
  color: var(--main-color);
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

header nav li .otherlink ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(238, 238, 238, 0.336);
  left: -100%;
  top: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
header nav li .otherlink ul li:hover:after {
  left: 0;
}

header nav li .otherlink ul li a {
  text-decoration: none;
  color: var(--main-color);
  margin-left: 20px;
}

/*end header style  */

/* start landing style */
.landing {
  background-color: #eee;
  position: relative;
}
.landing::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #eee;
  bottom: -110px;
  transform: skewY(-7deg);
  z-index: -1;
}
.landing .container {
  display: flex;
  align-items: center;
}
.landing .text {
  margin-top: 90px;
}
@media (max-width: 768px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h3 {
  font-size: 45px;
  letter-spacing: -3px;
}
.landing .text p {
  color: #777;
  line-height: 32px;
  word-spacing: 2px;
}
.landing .img img {
  width: 100%;
  position: relative;
  -webkit-animation: imageanim 2s infinite;
}
@media (max-width: 768px) {
  .landing .img img {
    display: none;
  }
}
.landing .down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  bottom: -150px;
  color: var(--main-color);
  font-size: 32px;
  animation: up_down 1s infinite;
  -webkit-animation: up_down 1s infinite;
}

/* end landing style */
/* Start article */
.article {
  margin-top: 250px;
}

/* End article */

/* Start animation */
@keyframes up_down {
  0% {
    bottom: -150px;
  }
  100% {
    bottom: -160px;
  }
}

@keyframes imageanim {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: 20px;
  }
}

@keyframes title-after {
  50% {
    right: 0;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  75% {
  }
  100% {
    right: 0;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 60%;
  }
}
@keyframes title-before {
  50% {
    left: 0;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  100% {
    left: 0;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 60%;
  }
}
@keyframes card_right {
  0% {
    left: 0;
  }
  50% {
    left: 8px;
  }
  100% {
    left: 0;
  }
}

/* end animation */

/* start component */
.title {
  padding: 15px 40px;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid black;
  text-transform: capitalize;
  position: relative;
  width: fit-content;
  margin: 40px auto;
  background-color: transparent;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.title:hover::after {
  animation: title-after 1s;
  -webkit-animation: title-after 1s;
  animation-fill-mode: forwards;
  z-index: -1;
}
.title:hover::before {
  animation: title-before 1s;
  -webkit-animation: title-before 1s;
  animation-fill-mode: forwards;
  z-index: -1;
}
.title:hover {
  color: white;
}
.title::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 50%;
  right: -33px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.title::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 50%;
  left: -33px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
/*  End component*/

/* Start Article */
.article .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}
.article .container .card {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 2px 2px 10px #eee, -2px -2px 10px #eee;
  position: relative;
}
.article .container .card:hover {
  top: -5px;
}
.article .container .card:hover i {
  animation: card_right 0.5s infinite;
  -webkit-animation: card_right 0.5s infinite;
}
.article .container .card img {
  max-width: 100%;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
}
.article .container .card h2 {
  padding: 10px 10px 0px;
}
.article .container .card p {
  padding: 10px;
  color: #666;
  width: 87%;
}
.article .container .card .readmore {
  border-top: 1px solid rgba(119, 119, 119, 0.335);
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
.article .container .card .readmore p {
  color: var(--main-color);
  font-weight: bold;
  font-size: 15px;
}
.article .container .card .readmore i {
  color: var(--main-color);
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  position: relative;
}
